input, button { /* Just for looks really */
  margin: 3px;
  display: block;
  font:13px/20px arial,sans;
}

input.idleField { /* Looks again - just to gray out the default values */
  color: #888;
}

.login_fake { /* First we hide the "label" in case the user has disabled javascript */
  display: none;
}


